{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container w-50 mt-5">
    {% if messages %}
    <div>
    {% for message in messages %}
        <div class="text-danger">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <h1 class="mt-2">Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-2">
            <label for="f1">Old Password :</label>
            <input class="form-control" type="password" id="f1" name="old_pass" required>
        </div>
        <div class="mb-2">
            <label for="f2">New Password :</label>
            <input class="form-control" type="password" id="f2" name="new_pass" required>
        </div>
        <div class="mb-2">
            <label for="f3">Confirm Password :</label>
            <input class="form-control" type="password" id="f3" name="c_pass" required>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

{% include 'footer.html' %}
{% endblock %}