{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% include 'navbar.html' %}
<div class="container-fluid d-flex flex-column align-items-center mt-5 pt-1">
    <a href="/change_pass/"><button class="btn-sm btn-primary" style=" position: absolute; top: 9vh; right: 1vw;">Change Password</button></a>
    <h2 class="pb-3">Welcome <span class="text-decoration-underline text-primary">{{user}}</span></h2>
    {% if user.role == 'admin' %}
    <div class="d-flex flex-row gap-4">
        <a href="/add/"><button class="btn btn-primary">Add Book</button></a>
        <a href="/view/"><button class="btn btn-primary">View Books</button></a>
        <a href="/delete/"><button class="btn btn-primary">Delete Book</button></a>
    </div>
    {% endif %}
    {% if user.role == 'vendor' %}
    <div class="d-flex flex-row gap-4">
        <a href="/add/"><button class="btn btn-primary">Add Book</button></a>
        <a href="/view/"><button class="btn btn-primary">View Books</button></a>
    </div>
    {% endif %}
    {% if user.role == 'customer' %}
    <div class="d-flex flex-row gap-4">
        <a href="/view/"><button class="btn btn-primary">View Books</button></a>
        <a href="/order/?user={{user.email}}"><button class="btn btn-primary">Order Book</button></a>
        <a href="/return/?user={{user.email}}"><button class="btn btn-primary">Return Book</button></a>
        
    </div>
    {% endif %}

</div>

{% include 'footer.html' %}
{% endblock %}