{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid parent">
        <div class="d-flex flex-column align-items-center pt-5 gap-4 child">
            <h2 class="text-center px-5">Welcome to my Book Store</h2>
            <div class="d-flex flex-row gap-5 ">
                <a href="/register/"><button class="btn-primary btn-sm btn-h">Register</button></a>
                <a href="/login/"><button class="btn-primary btn-sm btn-h">Login</button></a>
            </div>
            {% if messages %}
		    <div>
		        {% for message in messages %}
			    <div class="text-success">
				    <h3>{{ message }}</h3>
			    </div>
		        {% endfor %}
		    </div>
	        {% endif %}
        </div>
    </div>

{% endblock %}