{% extends 'base.html' %}

{% block title %}Issued Books{% endblock %}

{% block content %}

{% include 'home_button.html' %}
<div class="container w-50">
    {% if messages %}
        <div>
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="text-danger">
                <h3>{{ message }}</h3>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <h1>Issued Books</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="f1">Email:</label>
            <input class="form-control" type="email" id="f1" required name="email" placeholder="Enter your email">
        </div>
        <button class="btn btn-primary">Check</button>
    </form>
</div>

{% include 'footer.html' %}
{% endblock %}