{% extends 'base.html' %}

{% block title %}Issue Book{% endblock %}

{% block content %}

{% include 'home_button.html' %}
<div class="container w-50">
    {% if messages %}
        <div>
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="text-danger">
                <h3>{{ message }}</h3>
            </div>
            {% endif %}
            {% if message.tags == 'success' %}
            <div class="text-success">
                <h3>{{ message }}</h3>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <h2>Issue Book</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="f1">Name:</label>
            <input class="form-control" type="text" id="f1" required name="name" placeholder="Enter books's name">
        </div>
        <div class="mb-3">
            Issue to:
            <select class="form-select" required name="issued_to">
                {% for customer in customers %}
                <option value="{{customer}}">{{customer.first_name}} {{customer.last_name}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary">Issue</button>
    </form>
</div>

{% include 'footer.html' %}
{% endblock %}