<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if messages %}
        <div>
        {% for message in messages %}
            <div style="color: red;">
                <h1>{{ message }}</h1>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        Email: <input type="email" required name="email"> <br><br>
        Password: <input type="password" required name="password"> <br><br>
        <button>Login</button>
    </form>
</body>
</html>