{% extends 'base.html' %}

{% block title %}Order Books{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container w-50 mt-5 pt-1">
{% if book %}
  <div class="my-3 ">
    <h3>Book name : {{book.name}}</h3>
    <h3>Your email : {{user.email}}</h3>
  </div>
  <form method="post">
    {% csrf_token %}
    <button class="btn btn-primary">Order</button>
  </form>
  {% endif %}
    <div class="container w-75 mt-3">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="d-flex flex-column align-items-center justify-content-center text-success">
                <h3>{{ message }}</h3>
                <a href="/dashboard/"><button class=" btn btn-primary">Dashboard</button></a>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}