{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="container w-50  mb-5 mt-5 pt-1">
    {% if messages %}
        <div>
        {% for message in messages %}
            <div class="text-danger">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        </div>
    {% endif %}
        <h2>REGISTRATION</h2>
        <form action="" , method="POST">
        {% csrf_token %}
            <div class="mb-3 mt-3">
                <label for="f1">Email:</label>
                <input class="form-control" type="email" id="f1" required name="email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="f2">Password:</label>
                <input class="form-control" id="f2" type="password" required name="password" placeholder="Enter your password">
            </div>
            <div class="mb-3">
                <label for="fn"> Confirm Password:</label>
                <input class="form-control" id="fn" type="password" required name="c_password" placeholder="Confirm your password">
            </div>
            <div class="mb-3">
                <label for="f3">First Name:</label>
                <input class="form-control" id="f3" type="text" required name="first_name" placeholder="Enter your first name">
            </div>
            <div class="mb-3">
                <label for="f4">Last Name:</label>
                <input class="form-control" id="f4" type="text" required name="last_name" placeholder="Enter your last name">
            </div>
            <div class="mb-3">
                Role :
                <select class="form-select" required name="role">
                    <option value="vendor">vendor</option>
                    <option value="customer">customer</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="f6">Phone:</label>
                <input class="form-control" id="f6" type="text" name="phone" maxlength="10" placeholder="Enter your phone number">
            </div>
            <button class="btn btn-primary mb-5">Submit</button>
        </form>
    </div>

{% include 'footer.html' %}
{% endblock %}