<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="" , method="POST">
        Email: <input type="email" required name="email"> <br><br>
        Password: <input type="password" required name="pwd"> <br><br>
        First Name: <input type="text" name="f_name" > <br><br>
        Last Name: <input type="text" name="l_name" > <br><br>
        Role : <select name="User_Role">
            <option value="admin">admin</option>
            <option value="vendor">vendor</option>
            <option value="customer">customer</option>
        </select> <br><br>
        Phone: <input type="tel" name="phone"> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>