{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container w-50 mt-5 pt-1">
    {% if messages %}
        <div>
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="text-danger">
                <h3>{{ message }}</h3>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <h2>Reset Password</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="f1">Email :</label>
            <input class="form-control" type="text" id="f1" required name="email" placeholder="Enter your email">
        </div>
        <button class="btn btn-primary">Confirm</button>
    </form>
    </div>

{% include 'footer.html' %}
{% endblock %}