{% extends 'base.html' %}

{% block title %}Set Password{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container w-50 mt-5">
{% if messages %}
    <div>
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div>
                    <h3 class="text-danger">{{message}}</h3>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
    <h1 class="mt-2">Set Password</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-2">
            <label for="f1">New Password :</label>
            <input class="form-control" type="password" id="f1" name="new_pass" required>
        </div>
        <div class="mb-2">
            <label for="f2">Confirm Password :</label>
            <input class="form-control" type="password" id="f2" name="c_pass" required>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>


{% include 'footer.html' %}
{% endblock %}